.player-component{
    margin-top: 40px;
}

.icons{
    height: 15px;
    width: 15px;
}

.remove-button{
    background-color: red!important;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}