.home{
    max-width: 1000px;
    margin: 0 auto;
}

.add-player, .clear-initiatives{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.popup-image{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 80%;
    background-color:black;
}